version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: oms-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8081:8080"
    environment:
      MONGO_URI: mongodb://mongo:27017/usersdb
      JWT_SECRET: dev-secret-key
    depends_on:
      - mongo

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8082:8080"
    environment:
      MONGO_URI: mongodb://mongo:27017/ordersdb
      JWT_SECRET: dev-secret-key
    depends_on:
      - mongo

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8083:8080"
    environment:
      MONGO_URI: mongodb://mongo:27017/inventorydb
    depends_on:
      - mongo

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      JWT_SECRET: dev-secret-key
    depends_on:
      - user-service
      - order-service
      - inventory-service

volumes:
  mongo_data:
